* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
}
img {
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

h1 {
    color: royalblue;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
}

.bg-color {
    background-color: black;
}

/* ESTILOS CAROUSEL */
.mi-carousel {
   padding: 5rem;
}

.mi-item {
    border-radius: 2rem;
}
/* FIN ESTILOS CAROUSEL */


/* ESTILOS MODAL NEWSLETTER */
.modalNewsletter-contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}

.modal-newsletter {
    position: relative;
    background-color: whitesmoke;
    border-radius: 2rem;
    min-width: 500px;
    padding: 30px;
    margin-top: -100%;
    transition: all .5s;
}

.modal-newsletter #btnNewsletterCerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: black;
    border: none;
    background-color: white;
}
.modal-newsletter #btnNewsletterCerrar:hover {
    cursor: pointer;
}
.modal-carrito #btnNewsletterCerrar:focus {
    outline: none;
}

.modal-active .modal-newsletter {
    margin-top: 0;
}
/* FIN ESTILOS MODAL REGISTRO */

.container {
    width: 100%;
}
.logo-gomushis {
    width: 40%;
}
#boton-carrito {
    border: none;
    color: royalblue;
    font-size: 18px;
    background-color: white;
    border-radius: 40%;
    padding: 10px 20px;
    transition: all .3s;
}
#boton-carrito:hover {
    cursor: pointer;
    color: white;
    background-color: orange;
}
#boton-carrito:focus {
    outline: none;
}
.carrito-color {
    color: orange;
}


/* Estilos para los productos */

#contenedor-productos {
    max-width: 90%;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

p {
    line-height: 1.8;
}
.producto {
    max-width: 30%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3);
    border-radius: 2rem;
}


.precioProducto {
    font-weight: 700;
}
.boton-agregar {
    background-color: rgb(19, 160, 61);
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 5px;
    border-radius: 1rem;
    border-style: none;
}
.boton-agregar:hover {
    cursor: pointer;
}
.boton-agregar:focus {
    outline: none;
}


/* ESTILOS MODAL CARRITO */
.modal-contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}

.modal-active {
    opacity: 1;
    visibility: visible;
    z-index: 1000;
}

.modal-carrito {
    position: relative;
    background-color: white;
    border-radius: 2rem;
    min-width: 700px;
    padding: 30px;
    margin-top: -100%;
    transition: all .5s;
}

.modal-active .modal-carrito {
    margin-top: 0;
}

.modal-carrito h3 {
    color: royalblue;
    padding-bottom: 5px;
}
.modal-carrito #carritoCerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: black;
    border: none;
    background-color: white;
}
.modal-carrito #carritoCerrar:hover {
    cursor: pointer;
}
.modal-carrito #carritoCerrar:focus {
    outline: none;
}
.modal-carrito .precioProducto {
    padding-top: 10px;
    
}

.productoEnCarrito {
    border-left: 5px solid lightblue;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}
.productoEnCarrito:hover {
    border-left: 5px solid royalblue;
}

.boton-eliminar {
    background-color: white;
    color: red;
    border: none;
    font-size: 20px;
}

.boton-eliminar:hover {
    cursor: pointer;
}
.boton-eliminar:focus {
    outline: none;
}